* {
    margin: 0px;
    padding: 0px;
    font-family: "Questrial", sans-serif;
}

body {
    background-color: #e4e4e4;
}

.navigatorBarContainer {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #1555aa;
    box-shadow: 0px 2px 2px;
}

.logoContainer {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nameContainer {
    display: flex;
    width: 90%;
    height: 100%;
    font-weight: bold;
    font-size: 35px;
    color: #f5f5f5;
    font-family: "Poiret One", cursive;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    margin-left: 12vh;
    width: 18vh;
}

.bodyContainer {
    display: flex;
    width: 100%;
    height: 81vh;
}

.optionsContainer {
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    background-color: #577194;
    margin-left: 10px;
    border: solid 1px #435772;
    padding: 5px;
    box-shadow: 2px 2px 2px;
}

.userContainer {
    display: block;
    width: 100%;
    height: 30%;
}

.imgRecepcionistContainer {
    display: flex;
    width: 100%;
    /* height: 80%; */
    justify-content: center;
    align-items: center;
}

.recepcionistLogo {
    display: flex;
    justify-content: center;
    width: 60%;
    /* height: 62%; */
}

.userType {
    text-align: center;
    font-size: 4vh;
    font-family: "Poiret One";
    font-weight: bold;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    height: 45%;
    flex-wrap: wrap;
}

.btnOption {
    display: flex;
    width: 100%;
    height: 15.6%;
    padding-left: 1.2vh;
    font-size: 1.5vh;
    position: relative;
    margin: auto;
    padding: 10px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.btnOption:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #4e8ad8;
    width: 5.2vh;
    height: 5.2vh;
    transition: all 0.3s ease;
}

.btnOption span {
    position: relative;

    font-size: 2.1vh;
    font-weight: 530;
    letter-spacing: 0.05em;
    color: black;
}

.btnOption svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btnOption:hover:before {
    width: 100%;
    background: #b1dae7;
}

.btnOption:hover svg {
    transform: translateX(0);
}

.btnOption:active {
    transform: scale(0.95);
}

.logoutContainer {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.btnLogout {
    margin: 0vh 1vh 1vh 0vh;
    --primary-color: #4e8ad8;
    --secondary-color: #f5f5f5;
    --hover-color: #292c30;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.7em 1.4em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.btnLogout .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLogout .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.btnLogout .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.btnLogout:hover {
    background-color: var(--hover-color);
}

.btnLogout:hover .arrow {
    background: var(--secondary-color);
}

.btnLogout:hover .arrow:before {
    right: 0;
}

.showsContainer {
    display: flex;
    width: 85%;
    height: 100%;
    /* background-color: red; */
}

.screenOptionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.nameOptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.option {
    font-size: 4vh;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: purple; */
}

.formAdd {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    /* background-color: red; */
}

.form {
    width: 75%;
    height: 100%;
    /* background-color: darkgoldenrod; */
}

.inputTextDesign {
    width: 50vh;
    height: 4.8vh;
    margin-bottom: 1.5vh;
    background-color: #b1dae7;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #1555aa;
    border-radius: 3px;
    padding: 1vh;
    font-size: 2.3vh;
    box-shadow: 2px 2px 2px;
}

.inputTextDesign:focus {
    border-color: #234567;
}

.Diagnosis {
    overflow-y: scroll;
    resize: none;
    height: 25vh;
    font-size: 2vh;
}

.btnPhoto {
    width: 50vh;
    height: 4.8vh;
    margin-bottom: 1.5vh;
    background-color: #b1dae7;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #1555aa;
    border-radius: 1vh;
}

.buttonAdd {
    margin-top: 1.5vh;
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 8px 12px;
    border-radius: 100px;
    background: #b1dae7;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.buttonAdd:hover {
    background: #1555aa;
}

.buttonAdd > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.buttonAdd:hover svg {
    transform: translateX(5px);
}

.buttonAdd:active {
    transform: scale(0.95);
}

.underContainer {
    width: 100%;
    height: 5%;
    background-color: red;
}

.footerContainer {
    display: flex;
    width: 100%;
    height: 4vh;
    background-color: #292c30;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px;
}

.textFooter {
    color: #f5f5f5;
    font-size: 2.2vh;
}

/* tabla citas */
.tableD {
    border-collapse: collapse;
    font-size: 2.3vh;
    font-family: "arial";
    width: 80%;
    box-shadow: 2px 2px 2px;
}

.tableTHDL {
    text-align: center;
    background: #1555aa;
    color: #ffff;
}

.tableD .tableTHD {
    text-align: justify;
    padding: 15px;
    background: #1555aa;
    color: #ffff;
}

.tableD .tableTRD:nth-child(odd) {
    background-color: #fff;
}

.tableD .tableTRD {
    background-color: #c1c1c1;
}

.tableD .tableTDD {
    font-weight: bold;
    padding: 10px;
}

.tableTDDL {
    text-align: center;
    font-weight: bold;
}

/* tabla clientes */
.tableC {
    border-collapse: collapse;
    font-size: 2.3vh;
    font-family: "arial";
    width: 80%;
    box-shadow: 2px 2px 2px;
}

.tableTHCL {
    text-align: center;
    background: #1555aa;
    color: #ffff;
}

.tableC .tableTHC {
    text-align: justify;
    padding: 15px;
    background: #1555aa;
    color: #ffff;
}

.tableC .tableTRC:nth-child(odd) {
    background-color: #fff;
}

.tableC .tableTRC {
    background-color: #c1c1c1;
}

.tableC .tableTDC {
    font-weight: bold;
    padding: 10px;
}

.tableTDCL {
    text-align: center;
    font-weight: bold;
}

/* LINKS de la tabla */

.link_a {
    color: #292c30;
    text-decoration: none;
}

.link_a:hover {
    color: #1555aa;
}

/* paginador */
.paginador ul {
    padding: 15px;
    list-style: none;
    background: #fff;
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.paginador a,
.pageSelected {
    color: #428bca;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 1.2vh;
}

.paginador a:hover {
    background-color: #1555aa;
    color: #fff;
}

.pageSelected {
    color: #ffff;
    background: #428bca;
    border: 1px solid #428bca;
}

.notItemOne option:first-child {
    display: none;
}
